.navbar{
    font-family: 'Montserrat', sans-serif;
}

footer{
    background: #333333;
    color: #FFF;
    padding: 20px;
    margin-top: 0;
}

footer address:last-child{
    margin-bottom: 0;
}

#universidade{
    margin-top: 20px;
    margin-bottom: 20px;
}

html, body{
    height: 100%;
}

header h1{
    margin-top: 0;
    margin-bottom: 0;
}

.titulo-nome{
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.foto-perfil{
    border-radius: 8px;
    width: 80%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 3px 3px 3px #000000;

}

.foto-perfil:hover{
    opacity: 0.5;
}

.legenda-titulo{
    margin-top: 10px;
    font-size: 18px;
}

.competencia{
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
    text-align: justify;
    background: linear-gradient(#999999 30%, #d3d3d3);
}

.competencia-footer{
    margin-top: 0;
    font-size: 18px;
}

.icon-social{
    margin-top: 20px;
    margin-left: 0;
}

.icon-image{
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: 400ms;
}

.icon-image:hover{
    opacity: 0.3;
}

.icon-social-footer{
    margin-top: 0;
}

.skill_item{
    margin-top: 30px;
    margin-left: 50px;
}

.texto-profissao{
    color: white;
}

.texto-profissao:hover{
    color:orange;
    text-decoration: underline;
}

#botao-git{
    margin-top: 20px;
}

header{
    background-image: url(../img/wall1.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
    position: relative;
}

.topcasafina-banner{
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2.0em;
    max-width: 90%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
}
.img-startup{
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

.figuras{
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 50px;
    padding-left: 50px;  
    padding-right: 50px;
}

.figuras:hover{
    border-color: orange;
}

.figuras:hover h3{
    font-size: 40px;
}

.figuras:hover p{
    font-size: 30px;
}

.figuras a{
    color: white;
}

.figuras a:hover {  /* Efeito ao passar no link */
    color: orange;
    text-decoration: underline;
}

.formulario-contato{
    margin-bottom: 30px;
}

#contato{
    margin-top: 20px;
}

.texto-centralizado{
    text-align: center;
}

.enviar{
    width: 30%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.projeto{
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    font-size: 18px;
    color: white;
    text-align: justify;
    background: linear-gradient(#999999 30%, #d3d3d3);
}

.linha{
    margin-left: 60px;
}

.skill_item_dois{
    margin-top: 40px;
    margin-left: 50px;
}

.escrita-animacao{
    padding-top: 30px;
    padding-left: 200px;
}


#aplicativo{
    margin-bottom: 20px;
}

.enviar:hover{
    background: darkorange;
    transform:  scale(1.1);
}

@media(min-width: 768px) {
	#paineis-sobre {
		margin-top: 0;	
	}
}

@media(min-width: 992px) {
	.perfil-banner {
		left: 0;
		transform: translate(0, -80%);
		width: 50%;
	}

	.perfil-bannerWrapper {
		position: relative;
		height: 100%;
	}
}
